body {
  font-family: 'Delius Unicase', cursive;
  padding-top: 20px;
}

.button-div {
  padding: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav-button {
  border-radius: 25px;
  margin: px;
  transition: all 0.2s ease-in-out;
  color: #4c463d;
  padding: 10px;
  border: 2px solid #ab678c;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: #4c463d;
}

.navbar {
  font-family: 'Delius Unicase', cursive;
}

.navbar {
  background-image: url('texture.jpg');
}

.nav-button:hover {
  background-color: #ab678c;
  color: #ffffff;
}