<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's sweet and savory treats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Delicious&display=swap" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/styles.css"> *@
  </head>
  <body>
    @await Html.PartialAsync("Header")
    <main class="obscured">
      @RenderBody()
    </main>
  </body>
</html>