<nav class="navbar" style="background-color: #ab678c;">
  <div class="button-div">
    <a class="nav-button" href="/" style="color:#4c463d;">.Home</a>
    <a class="nav-button" href="/Treats" style="color:  #4c463d;" >.Treats</a>
    <a class="nav-button" href="/Flavors" style="color:  #4c463d;">.Flavors</a>
    <a class="nav-button" href="/Account/Register" style="color:  #4c463d;">.Register</a>
    <a class="nav-button" href="/Account/Login" style="color:  #4c463d;">.Login</a>
  </div>
</nav>