@{
  Layout = "_Layout";
}

@model BakeryTreats.Models.Flavor

<h4>Add a new Flavor</h4>

<p>@Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName, "Flavor Name")
  <br>
  @Html.TextBoxFor(model => model.FlavorName)
  <br>

  <button type="submit" class="btn btn-success">Add Flavor</button>
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>